<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Welcome, <%= user.name %>!</h1>
    <div>
        <h2>Product List</h2>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <h3><%= product.name %></h3>
                    <p>Price: $<%= product.price %></p>
                    <p>Description: <%= product.description %></p>
                    <p>Quantity: <%= product.quantity %></p>
                    <img src="../uploads/<%=product.image %>" alt="<%= product.name %>" width="100">
                </li>
            <% }); %>
        </ul>
    </div>
    <%- include('footer') %>
</body>
</html>