<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update <%= product.name  %></title>
</head>
<body>
    <form action="/update/<%= product._id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= product.name%>">  <br> <br>
        <input type="text" name="price" value="<%= product.price %>">  <br> <br>
        <input type="text" name="quantity" value="<%= product.quantity  %>">  <br> <br>
        <input type="file" name="file" > <br><br>
        <input type="submit">
    </form>
    
</body>
</html>